<% @movies.each do |movie| %>
  <%= link_to movie.title, movie_path(movie) %>
  <ol>
    <li>Year : <%= movie.year %></li>
    <li>Director : <%= movie.director %></li>
    <li>Description : <%= movie.description %></li>
    <li>Category : <%= movie.category %></li>
  </ol>
<% end %>

<%= link_to "Home", root_path %>

