<div class="container">
  <h3>🎬 We picked... </h3>

  <%= link_to @movie.title, movie_path(@movie) %>
  <%= @movie.description %>
  <img src="<%= @movie.poster_url %>" alt="img">
  <%= @movie.year %>

  <div class="d-flex justify-content-between">
    <div><%= link_to movie_path(@movie) do %>
      <button class="btn btn-dark"><i class="fa-solid fa-plus"></i> Tell me more about it</button>
      <% end %>
    </div>
    <div><%= link_to random_movie_path do %>
      <button class="btn btn-outline-dark"><i class="fa-solid fa-rotate-right"></i> Another pick please</button>
      <% end %>
    </div>
  </div>
</div>
