<h3><%= @movie.title %></h3>
<%= @movie.year %>
<%= @movie.director %>
<%= @movie.description %>
<%= @movie.category %>

<%= simple_form_for [@movie, @favorite] do|f|%>
  <%= f.association :list %>
	<%= f.submit "add this movie to my list"%>
<%end%>

<%= link_to "Back to movies", movies_path %>
<%= link_to "Home", root_path %>
