<h3><%= @movie.title %></h3>
<%= @movie.year %>
<%= @movie.director %>
<%= @movie.description %>
<%= @movie.category %>

<%= simple_form_for [@movie, @favorite] do|f|%>
	<%= f.input :content %>
  <%= f.association :lists %>
	<%= f.submit "add this movie to my list"%>
<%end%>

<%= link_to "Back to movies", movies_path %>
